/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    width: 200px;
    background: #ffffff;
    color: #000;
    transition: all 0.3s;
    padding: 10px;
}

#sidebar .logo {
    margin-top: 15px;
    width: 165px;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar .room-icon {
    margin-bottom: 30px;
}

#sidebar .room-icon .room-img {
    width: 70px;
    -webkit-transition: width 0.5s;
    /* Safari */
    transition: width 0.5s;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffffff;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    box-shadow: 0 0 0px #FF472E;
    background-color: #f39331;
}

#sidebar ul li a i {
    margin-right: 10px;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ffffff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #2b9012;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-right: 0;
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

/* line 186, ../sass/dashboard.scss */
.module-wrap {
    width: 100%;
    height: 1200px;
    padding-right: 20px;
    padding-top: 40px;
}

/* line 192, ../sass/dashboard.scss */
.module-wrap .mo {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}

/* line 197, ../sass/dashboard.scss */
.module-wrap .mo .mo-el {
    width: 100%;
}

/* line 200, ../sass/dashboard.scss */
.module-wrap .mo .mo-el .panel {
    margin: 0;
    background-color: #F2F6FC;
    border-radius: 5px;
    border: 0.5px #A1A8B2 solid;
    border-top: none;
}

/* line 207, ../sass/dashboard.scss */
.module-wrap .mo .mo-el .panel .panel-heading {
    background-color: #F2F6FC;
    border-radius: 5px;
}

/* line 214, ../sass/dashboard.scss */
.module-wrap .module1 {
    margin-right: 20px;
    width: 100%;
    height: 380px;
    padding-right: 40px;
}

/* line 220, ../sass/dashboard.scss */
.module-wrap .module2 {
    width: 64%;
    height: 300px;
}

/* line 224, ../sass/dashboard.scss */
.module-wrap .module3 {
    width: 31%;
    height: 300px;
}

/* line 115, ../sass/dashboard.scss */
.page-wrap {
    margin-right: 0px;
    margin-left: 250px;
}

/*-- Chart --*/
.c3 svg {
    font: 10px sans-serif;
}

.c3 path, .c3 line {
    fill: none;
    stroke: #000;
}

.c3 text {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.c3-legend-item-tile, .c3-xgrid-focus, .c3-ygrid, .c3-event-rect, .c3-bars path {
    shape-rendering: crispEdges;
}

.c3-chart-arc path {
    stroke: #fff;
}

.c3-chart-arc text {
    fill: #fff;
    font-size: 13px;
}

/*-- Axis --*/
/*-- Grid --*/
.c3-grid line {
    stroke: #aaa;
}

.c3-grid text {
    fill: #aaa;
}

.c3-xgrid, .c3-ygrid {
    stroke-dasharray: 3 3;
}

/*-- Text on Chart --*/
.c3-text.c3-empty {
    fill: #808080;
    font-size: 2em;
}

/*-- Line --*/
.c3-line {
    stroke-width: 2px;
}

/*-- Point --*/
.c3-circle {
    display: none;
}

.c3-circle._expanded_ {
    stroke-width: 1px;
    stroke: white;
}

.c3-selected-circle {
    fill: white;
    stroke-width: 2px;
}

/*-- Bar --*/
.c3-bar {
    stroke-width: 0;
}

.c3-bar._expanded_ {
    fill-opacity: 0.75;
}

/*-- Focus --*/
.c3-target.c3-focused {
    opacity: 1;
}

.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
    stroke-width: 3px;
}

.c3-target.c3-defocused {
    opacity: 0.3 !important;
}

/*-- Region --*/
.c3-region {
    fill: steelblue;
    fill-opacity: 0.1;
}

/*-- Brush --*/
.c3-brush .extent {
    fill-opacity: 0.1;
}

/*-- Select - Drag --*/
/*-- Legend --*/
.c3-legend-item {
    font-size: 12px;
}

.c3-legend-item-hidden {
    opacity: 0.15;
}

.c3-legend-background {
    opacity: 0.75;
    fill: white;
    stroke: lightgray;
    stroke-width: 1;
}

/*-- Tooltip --*/
.c3-tooltip-container {
    z-index: 10;
}

.c3-tooltip {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    empty-cells: show;
    -webkit-box-shadow: 7px 7px 12px -9px #777777;
    -moz-box-shadow: 7px 7px 12px -9px #777777;
    box-shadow: 7px 7px 12px -9px #777777;
    opacity: 0.9;
}

.c3-tooltip tr {
    border: 1px solid #CCC;
}

.c3-tooltip th {
    background-color: #aaa;
    font-size: 14px;
    padding: 2px 5px;
    text-align: left;
    color: #FFF;
}

.c3-tooltip td {
    font-size: 13px;
    padding: 3px 6px;
    background-color: #fff;
    border-left: 1px dotted #999;
}

.c3-tooltip td > span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px;
}

.c3-tooltip td.value {
    text-align: right;
}

/*-- Area --*/
.c3-area {
    stroke-width: 0;
    opacity: 0.2;
}

/*-- Arc --*/
.c3-chart-arcs-title {
    dominant-baseline: middle;
    font-size: 1.3em;
}

.c3-chart-arcs .c3-chart-arcs-background {
    fill: #e0e0e0;
    stroke: none;
}

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
    fill: #000;
    font-size: 16px;
}

.c3-chart-arcs .c3-chart-arcs-gauge-max {
    fill: #777;
}

.c3-chart-arcs .c3-chart-arcs-gauge-min {
    fill: #777;
}

.c3-chart-arc .c3-gauge-value {
    fill: #000;
    /*  font-size: 28px !important;*/
}