    .node {
        cursor: pointer;
    }

    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke - width: 3 px;
    }

    .node text {
        font: 12 px sans - serif;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke - width: 2 px;
    }
