Django==1.7
Flask==0.10.1
Flask-Admin==1.0.8
Flask-HTTPAuth==2.3.0
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
WTForms==2.0.1
Werkzeug==0.9.6
click==3.3
django-bootstrap3==4.11.0
docopt==0.6.2
itsdangerous==0.24
python-dateutil==2.3
requests==2.4.3
sandman==0.9.8
six==1.8.0
wsgiref==0.1.2
