{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <html>
    <meta charset="utf-8">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "css/graph.css" %}">
    </head>

    <body>
    <div class="wrap">
        <div class="btn-lg" id="device-1">
            <input name="device 1"
                   type="button"
                   value="Device 1"
                   onclick="Start()"/>
        </div>
        <div class="btn-lg" id="device-2">
            <input name="device 2"
                   type="button"
                   value="Device 2"
                   onclick="Start()"/>
        </div>
        <!-- FIXME: please no brs, use css -->
        <br>
        <div class="btn" id="daily" title="View Daily Energy Usage">
            <input name="Daily Usage"
                   type="button"
                   value="Daily Usage"
                   onclick="Daily()"/>
        </div>
        <div class="btn" id="continuous" title="View Minute-by-Minute Energy Usage">
            <input name="Daily Usage"
                   type="button"
                   value="Continuous Usage"
                   onclick="Continuous()"/>
        </div>

    </div>

    <!-- FIXME: these are making my eyes bleeeeeed -->
    <br>
    <br>


    <div class="wrap">
        <label for="from">From</label>
        <input type="text" class="form-inline" id="from" name="from">
        <label for="to">to</label>
        <input type="text" class="form-inline" id="to" name="to">

        <br>

        <div class="Panel_Daily" id="PanelD1">
            <input name="Panel1"
                   type="button"
                   value="Graph Panel 1"
                   onclick="Update_Daily_Graph(1)"/>
        </div>
        <div class="Panel_Daily" id="PanelD2">
            <input name="Panel2"
                   type="button"
                   value="Graph Panel 2"
                   onclick="Update_Daily_Graph(2)"/>
        </div>
        <div class="Panel_Daily" id="PanelD3">
            <input name="Panel3"
                   type="button"
                   value="Graph Panel 3"
                   onclick="Update_Daily_Graph(3)"/>
        </div>

        <div class="Panel" id="Panel1">
            <input name="Panel1"
                   type="button"
                   value="Graph Panel 1"
                   onclick="Update_Continuous_Graph(1)"/>
        </div>
        <div class="Panel" id="Panel2">
            <input name="Panel2"
                   type="button"
                   value="Graph Panel 2"
                   onclick="Update_Continuous_Graph(2)"/>
        </div>
        <div class="Panel" id="Panel3">
            <input name="Panel3"
                   type="button"
                   value="Graph Panel 3"
                   onclick="Update_Continuous_Graph(3)"/>
        </div>
    </div>
    <script src="{% static "js/graph.js" %}"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    </body>
    </html>
{% endblock %}
