{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!-- Index/front page Basically connects to navbar and shows associated block of text. Could easily be consolidated into one About SEADS page instead of having 3 different links, but we left it as is for now.-->
<div class="container-fluid">
         <div class="row" id="whatis">
            <div class="col-lg-12 col-md-12 col-sm-12">
               <h1>Smart Energy Analytic Disaggregation System</h1>
               <h4 class="text-center">Collect and Monitor the Energy of all of your Appliances</h4><br/>
               <p class="text-justify">Smart Energy Analytic Disaggregation System (SEADS), sponsored by CITRIS (Center for Information Technology Research in the Interest of Society), provides capabilities not found in other energy monitoring products. The goal of the SEADS is to design and build smart sensors powered by intelligent software capable of collecting and disaggregating information regarding energy usage from individual appliances in real time. SEADS advanced algorithm optimizes the cost of managing microgrids. SEADS aims at  providing an efficient control platform for microgrids based on information available though various sensors.</p>
            </div>
         </div>
         <div class="row categorysect" style="background-color:#E6E6E6" id="workingon">
            <h1 class="centered">What are we working on?</h1>
            <div class="col-lg-4">
               <img src="{% static 'images/icons/caticon-em.png' %}" alt="" class="img-responsive">
               <h2>Control</h2>
               <p>Distributed Generation and storage creates a significant amount of variability in the system. Without a responsive and dynamic system, a microgrid would not be able to function efficiently. The goal of SEADS is providing a dynamic and intelligent real-time control for managing various  Distributed Generation. </p>
            </div>
            <div class="col-lg-4">
               <img src="{% static 'images/icons/caticon-engineer.png' %}" alt="" class="img-responsive">
               <h2>Cost Optimization</h2>
               <p>When thinking about the adoption of the microgrids by the mass market, major consideration should be focused on cost optimization for generation and storage such that consumer can benefit from this adoption of such systems. Cost optimization should be done automatically therefore reducing hassles that consumers have to go though. </p>
            </div>
            <div class="col-lg-4">
               <img src="{% static 'images/icons/caticon-research.png' %}" alt="" class="img-responsive">
               <h2>Research</h2>
               <p>Designing cost effective equipments including software and hardware needed for disaggregation of electricity usage and efficiently control a microgrid.</p>
            </div>
         </div>
         <div class="row categorysect" id="present-contributors">
            <h1 class="centered">Who Are We?</h1>
            <div class="col-md-4">
               <ul class="outerContList">
                  <li>
                     <ul class="contlist2">
                        <li><img src="{% static 'images/faces/ali.jpg' %}" alt="" class="circle"></li>
                        <li>Ali Adabi</li>
                        <li>Graduate Student Lead</li>
                     </ul>
                  </li>
               </ul>
            </div>
            <div class="col-md-4">
               <ul class="outerContList">
                  <li>
                     <ul class="contlist2">
                        <li><img src="{% static 'images/faces/pavlo.jpg' %}" alt="" class="circle"></li>
                        <li>Pavlo Manovi</li>
                        <li>Lead Hardware Engineer</li>
                     </ul>
                  </li>
               </ul>
            </div>
            <div class="col-md-4">
               <ul class="outerContList">
                  <li>
                     <ul class="contlist2">
                        <li><img src="{% static 'images/faces/bryan.png' %}" alt="" class="circle"></li>
                        <li>Bryan Smith</li>
                        <li>Lead Backend Development & Lead Frontend Web Development</li>
                     </ul>
                  </li>
               </ul>
            </div>
            <div class="col-md-4">
               <ul class="outerContList">
                  <li>
                     <ul class="contlist2">
                        <li><img src="{% static 'images/faces/henry.jpg' %}" alt="" class="circle"></li>
                        <li>Henry Crute</li>
                        <li>Backend Development & Web Development & Firmware Development</li>
                     </ul>
                  </li>
               </ul>
            </div>
            <div class="col-md-4">
               <ul class="outerContList">
                  <li>
                     <ul class="contlist2">
                        <li><img src="{% static 'images/faces/michael.jpg' %}" alt="" class="circle"></li>
                        <li>Michael Sit</li>
                        <li>Backend Development & Firmware Development</li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
         <div class="row categorysect" style="background-color:#E6E6E6" id="contributors">
            <!--<a href=""><h1 class="centered" style="color:#2AB69D">Past Contributors</h1></a>-->
         </div>
      </div>
{% endblock %}