{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<html>
<head>
  <script src="{% static "js/highstock.js" %}"></script>
  <script src="{% static "js/exporting.js" %}"></script>

  <!-- export-csv affects charts globally; adds csv and xls exporting options-->
  <script src="{% static "js/export-csv.js" %}"></script>
  <!-- theme -->
  <script src="{% static "js/dark-unica-highcharts.js" %}"></script>

</head>
<body style="background-color:white;">

 <div class="container">
  <div class="row" style="padding-bottom:0%;">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="btn-group" role="group" aria-label="...">
        <button onclick="buttonclicked('W');" type="button" class="btn btn-default btn">
        Wattage
      </button>
        <button onclick="buttonclicked('I');" type="button" class="btn btn-default btn">
        Current
      </button>
        <button onclick="buttonclicked('V');" type="button" class="btn btn-default btn">
        Voltage
      </button>
      <!--their var dtype-->
      <input type="hidden" id="dType" value="W" />
      </div>
    </div>
    <div class="col-sm-4">
      <span style="float:right;"><span class="btn btn-default btn"> Granularity</span> &nbsp&nbsp
      <div id="slider1" data-slider-max="3000" data-slider-step="5">
      </div>
    </div>
</div>
    <div class="row">
      <div class='col-sm-2'>
    </div>
      <div class="col-sm-8">
          <div id="container"></div>
      </div>
       <!--<div><h1 id="maximum">Maximum is: {{max}}</h1></div>
       <div><h1 id="average">Average is: {{avg}}</h1></div> -->
  </div>


  <div class="row" style="padding-top:0%;">
    <div class="col-sm-2">
    </div>
          <div class='col-sm-4'>
            <div class="form-group">
              <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>

        <div class='col-sm-4'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker2'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        </div>
  </div>

</body>
<script type="text/javascript">
  //slider for granularity
  $('#slider1').slider({
    max: 3000,
    min: 10,
    value: 1500
  });
  var data1 = {{data|safe}}; //Some old stuff that previous people used
  //data1 = transform_dates(data1);

  var thejson = '{{data2|safe}}';//This is our JSON we're grabbing from API
  thejson = JSON.parse(thejson);

  //need a function to make sure that the json data is chronological
  //might not be necessary; the test data provided in a device was out of order.
  function custom_compare (a,b) {
    // I'm assuming all values are numbers
    return a[0] - b[0];
  }

  //Arrays to hold the correctly formatted data. Need to be
  //global variables so they can be changed with button clicks.
  var voltage = new Array();
  var current = new Array();
  var wattage = new Array();
  var granularityChanged = false;//Checks to see if granularity slider has been moved
  $(function () {
    //This for loop builds the correctly formatted array from the JSON
    //and then puts each component into the correct category
    for (i = 1; i < thejson.data.length; i++){
        if(thejson.data[i][0] == "None") continue;
        var date = thejson.data[i][0]; //date variable will be useful if we need to plot the time
        date = moment.utc(date).valueOf();//Turn date into UTC for plotting
        if(thejson.data[i][1] != "None") current.push([date, parseInt(thejson.data[i][1])]);
        if(thejson.data[i][2] != "None") wattage.push([date, parseInt(thejson.data[i][2])]);
        if(thejson.data[i][3] != "None") voltage.push([date, parseInt(thejson.data[i][3])]);
    }
    //data needs to be sorted before entered into highcharts of it will break the chart
    current = current.sort(custom_compare);
    voltage = voltage.sort(custom_compare);
    wattage = wattage.sort(custom_compare);
    var processed_json = wattage;

    //This is the main chart function that actually builds/renders the chart instance
    $('#container').highcharts({

        title: {
            text: 'Wattage'
        },

        xAxis: {
          type: 'datetime',
          tickInterval: 100000000,
          //tickWidth: 0,
          title: {text:'Time'}
        },
        yAxis: {
          title: {text:'Watts'}
        },

        rangeSelector: {
              enabled:true,
              //here we disable native highcharts datepicker; we use our own
              inputEnabled:false,
              allButtonsEnabled:true,
        },

        chart: {
          events: {
              selection: function (event) {
                  var text,
                      label,
                      tick;
                  if (event.xAxis) {
                      //on zoom, we retrieve x and y min and max and update the chart
                      //this is necessary for the export-csv to download the correct
                      //values upon export.
                      m1 = event.xAxis[0].min; //get min
                      m2 = event.xAxis[0].max; //get max
                      chart = $('#container').highcharts(); //reference
                      chart.xAxis[0].setExtremes(m1, m2); //update x axis
                      tick = (m2-m1)/100; //custom ticks
                      chart.xAxis[0].options.tickInterval = tick;
                  }
              }
          },
        zoomType: 'x' //zoom on x-Axis enabled
        },
        series: [{
            data: processed_json,
            name: "Wattage" //default series name
        }]
    });
  });

  //datepickers
  $(function () {
      $('#datetimepicker1').datetimepicker({
        pick12HourFormat: true,
        defaultDate: moment(data1[1][0]),
        language: 'en'
      });
  });

  $(function () {
    $('#datetimepicker2').datetimepicker({
      pick12HourFormat: true,
      defaultDate: moment(),
      language: 'en'
    });
  });

  $(function () {
    $("#datetimepicker1").on("dp.hide", function (e) {display_new_range2($('#dType').val())})
  });

  $(function () {
    $("#datetimepicker2").on("dp.hide", function (e) {display_new_range2($('#dType').val())})
  });

  function transform_dates(data1){
    for (i = 0; i < data1.length; i++){
      data1[i][0] = moment(data1[i][0]).format('MMM D, h:m:s');
    }
    return data1;
  }

  $('#slider1').slider({
  formatter: function(value) {
    return 'Current value: ' + value;
      }
  });

  $('#slider1').on("slideStop", function( e ){
    console.log("stopped");
    granularityChanged = true;//Granularity has been changed
    display_new_range($('#dType').val());
  });

  function buttonclicked(dtype){
    $('#slider1').slider("setValue", 3000);//Put slider back to max
    $('#dType').val(dtype);
    display_new_range(dtype);//Redraw the graph
  }

  function getDType(){
    var dType = $('#dType').val();
  }

  //This function distributes the data points on the graph
  //evenly according to how much the granularity is set to.
  var granularitySet = function(step, dtype){
      var thearray;
      switch(dtype){
        case 'W':thearray = wattage;break;
        case 'I':thearray = current;break;
        case 'V':thearray = voltage;break;
      }
      if(step > thearray.length - 1 ) return thearray;
      step = parseInt(thearray.length / step);
      var returnarray = new Array();
      for(var i = 0; i < thearray.length;){
        returnarray.push(thearray[i])
        i += step;
      }
      return returnarray;
  }

  //This function is called when buttons are pressed and it
  //ultimately updates the whole graph by redrawing it
  function display_new_range(dtype) {
    getDType(); //set the value of dType to be dtype
    dtype = dtype || "W"; //if no dtype (none) then default "W"
    var granularity = $('#slider1').data('slider').getValue();

    //get the prev min and max so we retain the axis values
    //after the redraw.
    chart = $('#container').highcharts();
    var prevmin = chart.xAxis[0].min;
    var prevmax = chart.xAxis[0].max;

    var thearray;
    var thearraybackup;
    switch(dtype){
      case 'W':thearraybackup = wattage;break;
      case 'I':thearraybackup = current;break;
      case 'V':thearraybackup = voltage;break;
    }

    if(granularityChanged) thearray = granularitySet(granularity, dtype);
    if(thearray == undefined){
      thearray = thearraybackup;//If it's a bad granularity revert to normal
      console.log("Bad granularity value. Not enough data points");
    }

    //Here I change the actual data the graph is displaying based on the button clicked
    chart.series[0].setData(thearray, false);//Change the data points
    if(dtype == "W") {
      chart.setTitle({text: "Wattage"});             //Change the title
      chart.yAxis[0].axisTitle.attr({text: 'Watts'});//Change the yAxis title
      chart.series[0].update({name:"Wattage"}, false); //update series name
    }
    if(dtype == "I") {
      chart.setTitle({text: "Current"});
      chart.yAxis[0].axisTitle.attr({text: 'Amps'});
      chart.series[0].update({name:"Current"}, false);
    }
    if(dtype == "V") {
      chart.setTitle({text: "Voltage"});
      chart.yAxis[0].axisTitle.attr({text: 'Volts'});
      chart.series[0].update({name:"Voltage"}, false);
    }

    //redraw the chart based on button chosen or date picked
    chart.redraw();
    granularityChanged = false;
    //take the xAxis values from the previous graph so that when we
    //transition between graphs the xAxis stays the same.
    //This function is highly dependant on whether or not the data is
    //continuous. If it is not continuous and not consistent across
    //xAxis values for wattage/voltage/current, then switching between
    //the three will not retain xAxis values.
    chart.xAxis[0].setExtremes(prevmin, prevmax);
  };

  //this function is for when a date on the datetimepicker is changed
  function display_new_range2(dtype) {
    getDType(); //set the value of dType to be dtype
    dtype = dtype || "W"; //if no dtype (none) then default "W
    //set the start and end_time to milliseconds because highcharts min and max is in milliseconds
    //default is seconds
    var start_time = $("#datetimepicker1").data('DateTimePicker').date.unix() * 1000;
    var end_time = $("#datetimepicker2").data('DateTimePicker').date.unix() * 1000;

    //reference our chart
    chart = $('#container').highcharts();
    //set the xAxis to be the values of the datetimepicker
    chart.xAxis[0].setExtremes(start_time, end_time);
  };

</script>
</html>

{% endblock %}
