<div marginwidth="0" marginheight="0" style="font:14px/20px 'Helvetica',Arial,sans-serif;margin:0;padding:75px 0 0 0;text-align:center;background-color:#eeeeee">
        <center>
            <table border="0" cellpadding="20" cellspacing="0" height="100%" width="100%" style="background-color:#eeeeee">
                <tbody><tr>
                    <td align="center" valign="top">
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-radius:6px;background-color:none">
                            <tbody><tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tbody><tr>
                                        <img width="300px" alt="" src="http://beryl.cse.ucsc.edu/images/icons/caticon-engineer.png"></td>
                                        <br/>
                                            <td>
                                                <h1 style="font-size:28px;margin-bottom:30px;margin-top:0;padding:0">Hello {{first_name}}, 
                                                <br/> <br/> 
                                                Welcome to SEADS!</h1>

                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-radius:6px;background-color:#ffffff">
                                        <tbody><tr>
                                            
                                            <td align="left" valign="top" style="line-height:150%;font-family:Helvetica;font-size:14px;color:#333333;padding:20px">
                                            <br><br>
                                            <b>You are now able to register your device and monitor your energy usage to make <b> better energy saving decisions.</b> <br/> <br/>

<br><b>Energy Usage Analytics</b><br><ul style="">
    <li>Appliance Wattage Data</li>
    <li>Appliance Voltage Data</li>
    <li>Appliance Current Data</li>
</ul><br><b>Energy Saving Insight</b><ul style="">
<li>Suggestions for similar, more cost-effective solutions</li>
<li>Blog to stay up to date on the latest energy-saving tips</li>
<li>Historical Energy Usage Data</li>
</ul>
<br>
<center>
<div style="margin:0 auto;padding:20px 0px 20px 0px">
<div style="margin:0 auto">
<table align="center" cellpadding="0" cellspacing="0" style="margin:0 auto">
<tbody>
<tr>
