{{block head}}

<link rel="stylesheet" type="text/css" href="{{=URL('static','css/googleLoginCode.css')}}">

{{end}}

{{extend 'layout.html'}}

<script>
    $(document).ready(function() {
        $('#authenticate-google-bar').hide();


    });

    function show_auth() {
        $('#authenticate-google-bar').show();
    }
</script>


<html>
	<head>
		<meta name="google-signin-client_id" content="1078328176295-alcbrr54jhi6djku91thnqlj6rmps933.apps.googleusercontent.com">
	</head>
    <body class="google-body">
        
        <!--
         This is the App ID & Secret code provided by Google for our hosted application throught their 
         developer site.
         
         App ID: 1078328176295-alcbrr54jhi6djku91thnqlj6rmps933.apps.googleusercontent.com
         Secret: 3zjkucUe-nbk8hXWs0D4XyIH
         -->
        
        <!--
         Include Google Platform Library 
         -->
         <script src="https://apis.google.com/js/platform.js" async defer></script>
        
        
        <!--
        Add Google SignIn Button for Google 
        -->
        <div id="container">
            <div class="g-signin2 g-sign-in" onClick="show_auth()" data-onsuccess="onSignIn"></div>
            <input id="authenticate-google-bar" class="auth-sign-in" type=button onClick="location.href='index.html'" value='Authentication Successful, Proceed.'>
            <button class="btn btn-info btn-md sign-out-btn"><a href="#" style="color:black;" onclick="signOut();">Sign out</a></button>

        </div>
        
        <!-- 
        Retrieve Profile Information from the User
        --> 
        <script>
        function onSignIn(googleUser) {
  		var profile = googleUser.getBasicProfile();
  		console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  		console.log('Name: ' + profile.getName());
  		console.log('Image URL: ' + profile.getImageUrl());
  		console.log('Email: ' + profile.getEmail());
        
        
        // display button for user to click to continue to the splash page
        <input style="margin 50%" type=button onClick="location.href='index.html'" value='Authentication Successful, Proceed.'>

		}
        </script>
        
        <!-- 
        Allow the user to LogOut without LoggingOut of Google,
        Attach a function that calls the GoogleAuth.signOut() method to the link's onclick
        event
        -->
		<script>
  		function signOut() {
    	var auth2 = gapi.auth2.getAuthInstance();
    	auth2.signOut().then(function () {
      	console.log('User signed out.');
    		});
  		}
		</script>
    </body>
</html>
