/* line 9, ../sass/dashboard.scss */
body {
  over-flow-x: hidden;
  margin: 0px;
  padding: 0px;
  font-weight: 300;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

/* line 20, ../sass/dashboard.scss */
#space-for-search-bar {
  margin-top: 50px;
}

/* line 24, ../sass/dashboard.scss */
.manage-bar {
  position: fixed;
  z-index: 1000px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 230px;
  text-align: center;
  padding: 10px;
}
/* line 34, ../sass/dashboard.scss */
.manage-bar .logo {
  margin-top: 40px;
  width: 165px;
}
/* line 39, ../sass/dashboard.scss */
.manage-bar .room-icon {
  margin-bottom: 30px;
}
/* line 42, ../sass/dashboard.scss */
.manage-bar .room-icon .room-img {
  width: 70px;
  -webkit-transition: width 0.5s;
  /* Safari */
  transition: width 0.5s;
}
/* line 49, ../sass/dashboard.scss */
.manage-bar .room-icon .room-label {
  font-size: 18px;
  width: 150px;
  margin: auto;
  -webkit-transition: font-size 0.5s;
  /* Safari */
  transition: font-size 0.5s;
}
/* line 60, ../sass/dashboard.scss */
.manage-bar .room-icon:hover .room-img {
  cursor: pointer;
  width: 80px;
  -webkit-transition: width 0.5s;
  /* Safari */
  transition: width 0.5s;
}
/* line 68, ../sass/dashboard.scss */
.manage-bar .room-icon:hover .room-label {
  font-size: 22px;
  width: 150px;
  margin: auto;
  text-decoration: underline;
  background-color: #F2F6FC;
  -webkit-transition: font-size 0.5s;
  /* Safari */
  transition: font-size 0.5s;
}
/* line 80, ../sass/dashboard.scss */
.manage-bar .manage-list {
  text-align: left;
  border: 0px;
}
/* line 84, ../sass/dashboard.scss */
.manage-bar .manage-list .manage-item {
  padding-left: 40px;
  border: 0px;
  border-radius: 5px;
}
/* line 90, ../sass/dashboard.scss */
.manage-bar .manage-list .active {
  box-shadow: 0 0 8px #FF472E;
  background-color: #EA5019;
  padding-left: 50px;
}
/* line 96, ../sass/dashboard.scss */
.manage-bar .manage-list .add-room {
  margin-top: 5px;
}
/* line 98, ../sass/dashboard.scss */
.manage-bar .manage-list .add-room .icon {
  color: #459DFF;
  font-size: 20px;
}
/* line 102, ../sass/dashboard.scss */
.manage-bar .manage-list .add-room .icon:hover {
  color: #2D5CB0;
}
/* line 106, ../sass/dashboard.scss */
.manage-bar .manage-list .badge {
  background-color: #FF472E;
}

/* line 112, ../sass/dashboard.scss */
.page-wrap {
  margin-right: 0px;
  margin-left: 250px;
}
/* line 116, ../sass/dashboard.scss */
.page-wrap .search-bar {
  z-index: 100;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #F2F6FC;
  height: 50px;
  padding: 10px;
  padding-left: 5%;
  border: 0.5px #A1A8B2 solid;
}
/* line 126, ../sass/dashboard.scss */
.page-wrap .search-bar .bar-display {
  display: none;
}
/* line 129, ../sass/dashboard.scss */
.page-wrap .search-bar .fa {
  color: #797B82;
  margin-right: 10px;
}
/* line 134, ../sass/dashboard.scss */
.page-wrap .search-bar .icon-wrap {
  width: 150px;
  position: fixed;
  top: 14px;
  right: 0px;
  text-align: center;
}
/* line 141, ../sass/dashboard.scss */
.page-wrap .search-bar .icon-wrap .dropdown {
  display: inline;
}
/* line 143, ../sass/dashboard.scss */
.page-wrap .search-bar .icon-wrap .dropdown .icon {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
}
/* line 148, ../sass/dashboard.scss */
.page-wrap .search-bar .icon-wrap .dropdown .icon:hover {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
  color: #9abcf4;
}
/* line 156, ../sass/dashboard.scss */
.page-wrap .search-bar .search-bar-input {
  width: 400px;
  background-color: #F2F6FC;
  border-width: 0px;
  border: none;
}
/* line 164, ../sass/dashboard.scss */
.page-wrap .top-manage-bar {
  display: none;
}
/* line 166, ../sass/dashboard.scss */
.page-wrap .top-manage-bar .add-room {
  margin-right: 5px;
}
/* line 168, ../sass/dashboard.scss */
.page-wrap .top-manage-bar .add-room .add-room-icon {
  margin-right: 3px;
  margin-left: 3px;
  font-size: 40px;
}
/* line 173, ../sass/dashboard.scss */
.page-wrap .top-manage-bar .add-room .add-room-word {
  font-size: 20px;
  position: relative;
  top: -10px;
}
/* line 180, ../sass/dashboard.scss */
.page-wrap .module-wrap {
  width: 100%;
  height: 1200px;
  padding-right: 20px;
}
/* line 186, ../sass/dashboard.scss */
.page-wrap .module-wrap .mo {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
}
/* line 191, ../sass/dashboard.scss */
.page-wrap .module-wrap .mo .mo-el {
  width: 100%;
}
/* line 194, ../sass/dashboard.scss */
.page-wrap .module-wrap .mo .mo-el .panel {
  margin: 0;
  background-color: #F2F6FC;
  border-radius: 5px;
  border: 0.5px #A1A8B2 solid;
  border-top: none;
}
/* line 201, ../sass/dashboard.scss */
.page-wrap .module-wrap .mo .mo-el .panel .panel-heading {
  background-color: #F2F6FC;
  border-radius: 5px;
}
/* line 208, ../sass/dashboard.scss */
.page-wrap .module-wrap .module1 {
  margin-right: 20px;
  width: 100%;
  height: 380px;
  padding-right: 40px;
}
/* line 214, ../sass/dashboard.scss */
.page-wrap .module-wrap .module2 {
  width: 64%;
  height: 300px;
}
/* line 218, ../sass/dashboard.scss */
.page-wrap .module-wrap .module3 {
  width: 31%;
  height: 300px;
}

/* line 230, ../sass/dashboard.scss */
.add-room-modal .modal-dialog .modal-content .modal-footer {
  margin-top: 100px;
  border: none;
}
/* line 237, ../sass/dashboard.scss */
.add-room-modal .modal-dialog .modal-content .modal-body .panel-group .chosen-icon .panel-chosen-icon {
  margin-top: 10px;
  width: 220px;
  -webkit-transition: width 0.5s;
  /* Safari */
  transition: width 0.5s;
}
/* line 244, ../sass/dashboard.scss */
.add-room-modal .modal-dialog .modal-content .modal-body .panel-group .chosen-icon .panel-chosen-icon:hover {
  width: 240px;
  -webkit-transition: width 0.5s;
  /* Safari */
  transition: width 0.5s;
}
/* line 250, ../sass/dashboard.scss */
.add-room-modal .modal-dialog .modal-content .modal-body .panel-group .chosen-icon .chosen-description {
  padding: 20px;
  margin-left: 180px;
}
/* line 255, ../sass/dashboard.scss */
.add-room-modal .modal-dialog .modal-content .modal-body .panel-group .input-group {
  margin-top: 10px;
}
/* line 265, ../sass/dashboard.scss */
.add-room-modal .modal-dialog .modal-content .modal-body .panel-group .panel .panel-collapse .panel-body .panel-icon {
  margin: 8px;
  width: 50px;
  -webkit-transition: width 0.5s;
  /* Safari */
  transition: width 0.5s;
}
/* line 272, ../sass/dashboard.scss */
.add-room-modal .modal-dialog .modal-content .modal-body .panel-group .panel .panel-collapse .panel-body .panel-icon:hover {
  width: 60px;
  -webkit-transition: width 0.5s;
  /* Safari */
  transition: width 0.5s;
}

@media only screen and (max-width: 1025px) {
  /* For flip ipad */
  /* line 290, ../sass/dashboard.scss */
  #module-wrap .mo {
    margin: auto;
    margin-right: 10px;
    margin-top: 20px;
  }
  /* line 295, ../sass/dashboard.scss */
  #module-wrap .module1 {
    padding-right: 15px;
  }
  /* line 298, ../sass/dashboard.scss */
  #module-wrap .module2 {
    padding-right: 15px;
    width: 100%;
  }
  /* line 302, ../sass/dashboard.scss */
  #module-wrap .module3 {
    width: 360px;
  }
}
@media only screen and (max-width: 768px) {
  /* For tablets:ipad */
  /* line 310, ../sass/dashboard.scss */
  #space-for-search-bar {
    margin-top: 50px;
  }

  /* line 313, ../sass/dashboard.scss */
  #manage-bar {
    display: none;
  }

  /* line 316, ../sass/dashboard.scss */
  #page-wrap {
    margin-left: 0px;
  }

  /* line 319, ../sass/dashboard.scss */
  #icon-wrap {
    margin-left: 0px;
  }

  /* line 322, ../sass/dashboard.scss */
  #search-bar-input {
    width: 200px;
  }

  /* line 325, ../sass/dashboard.scss */
  #bar-display {
    color: #000;
    font-size: 25px;
    display: inline-block;
  }

  /* line 330, ../sass/dashboard.scss */
  #search-display {
    display: none;
  }

  /* line 334, ../sass/dashboard.scss */
  #module-wrap .mo {
    margin-right: 0px;
    margin-left: 10px;
  }
  /* line 339, ../sass/dashboard.scss */
  #module-wrap .module2 {
    width: 100%;
  }
  /* line 342, ../sass/dashboard.scss */
  #module-wrap .module3 {
    width: 360px;
  }
}
@media only screen and (max-width: 750px) {
  /* For flip i6p: */
  /* line 350, ../sass/dashboard.scss */
  #manage-bar {
    display: none;
  }

  /* line 353, ../sass/dashboard.scss */
  #page-wrap {
    margin-left: 0px;
  }

  /* line 356, ../sass/dashboard.scss */
  #icon-wrap {
    margin-left: 0px;
  }

  /* line 359, ../sass/dashboard.scss */
  #search-bar-input {
    width: 200px;
  }

  /* line 363, ../sass/dashboard.scss */
  #module-wrap .mo {
    margin-right: 0px;
    margin-left: 14px;
  }
  /* line 368, ../sass/dashboard.scss */
  #module-wrap .module2 {
    width: 100%;
  }
  /* line 371, ../sass/dashboard.scss */
  #module-wrap .module3 {
    width: 340px;
  }
}
@media only screen and (max-width: 700px) {
  /* For flip i6: */
  /* line 379, ../sass/dashboard.scss */
  #manage-bar {
    display: none;
  }

  /* line 382, ../sass/dashboard.scss */
  #page-wrap {
    margin-left: 0px;
  }

  /* line 385, ../sass/dashboard.scss */
  #icon-wrap {
    margin-left: 0px;
  }

  /* line 388, ../sass/dashboard.scss */
  #search-bar-input {
    width: 200px;
  }

  /* line 392, ../sass/dashboard.scss */
  #module-wrap .mo {
    margin-right: 0px;
    margin-left: 10px;
  }
  /* line 397, ../sass/dashboard.scss */
  #module-wrap .module2 {
    width: 100%;
  }
  /* line 400, ../sass/dashboard.scss */
  #module-wrap .module3 {
    width: 300px;
  }
}
@media only screen and (max-width: 420px) {
  /* For phone6 */
  /* line 408, ../sass/dashboard.scss */
  #manage-bar {
    display: none;
  }

  /* line 411, ../sass/dashboard.scss */
  #page-wrap {
    margin-left: 0px;
  }

  /* line 414, ../sass/dashboard.scss */
  #icon-wrap {
    margin-left: 0px;
  }

  /* line 417, ../sass/dashboard.scss */
  #search-bar-input {
    width: 150px;
  }

  /* line 421, ../sass/dashboard.scss */
  #module-wrap .mo {
    margin-left: 5px;
  }
  /* line 424, ../sass/dashboard.scss */
  #module-wrap .module1 {
    width: 400px;
    padding-right: 0px;
  }
  /* line 428, ../sass/dashboard.scss */
  #module-wrap .module2 {
    width: 400px;
    padding-right: 0px;
  }
  /* line 432, ../sass/dashboard.scss */
  #module-wrap .module3 {
    width: 400px;
  }
}
@media only screen and (max-width: 375px) {
  /* For phone5 and low */
  /* line 440, ../sass/dashboard.scss */
  #manage-bar {
    display: none;
  }

  /* line 443, ../sass/dashboard.scss */
  #page-wrap {
    margin-left: 0px;
  }

  /* line 446, ../sass/dashboard.scss */
  #icon-wrap {
    margin-left: 0px;
  }

  /* line 449, ../sass/dashboard.scss */
  #search-bar-input {
    width: 150px;
  }

  /* line 453, ../sass/dashboard.scss */
  #module-wrap .mo {
    margin-left: 3%;
  }
  /* line 456, ../sass/dashboard.scss */
  #module-wrap .module1 {
    width: 100%;
  }
  /* line 459, ../sass/dashboard.scss */
  #module-wrap .module2 {
    width: 100%;
  }
  /* line 462, ../sass/dashboard.scss */
  #module-wrap .module3 {
    width: 100%;
  }
}
