{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
    <!-- required csrf token -->
    <div class="container-fluid">
        <div class="row">
            <img src="{% static 'images/seadsLogo.png' %}" class="img-responsive center">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <form class="form-horizontal" role="form" name="register_user_form" action="/register/" method="post">
                    {% csrf_token %}
                    <!-- each of the required fields: Username, First/Last name, email, and password.-->
                    {% for field in form %}
                        {% include "ui_components/form_input.html" %}
                    {% endfor %}
                    {% include "ui_components/form_submit.html" with sbmt_text="Register" sbmt_value="register" %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
